Django==5.0.2
djangorestframework==3.17.1
django-cors-headers==4.9.0
dj-database-url==3.1.2
python-dotenv==1.2.2
user-agents==2.2.0
APScheduler==3.11.2
requests
certifi
geopy==2.4.1
beautifulsoup4==4.15.0
PyPDF2==3.0.1
razorpay==2.0.1
google-auth==2.35.0
groq
xhtml2pdf
python-docx
